
.logo-text-lg{
    font-weight: bold;
    color: #6cb015;
    position: absolute;
    bottom: 3px;
}

.navbar-nav-custom{
    display: flex !important;
    justify-content: end !important;
}

.custom-header{
    background: transparent;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 2;
}

.custom-header-b{
    border-bottom: 0.5px solid #454948 !important;
}

.testimonial-above .testimonial-avatar img {
    width: 45px !important;
}

.testimonial-above .testimonial-avatar .testimonial-icon {
    width: 20px !important;
    height: 20px !important;
}
.testimonial-icon .hicon {
    --hicon-size: 67% !important;
}

@media screen and (max-width: 950px) {
    .logo-text-lg {
        display: none;
    }
}
