
.logo-text-lg{
    font-weight: bold;
    color: #6cb015;
    position: absolute;
    bottom: 3px;
}

.navbar-nav-custom{
    display: flex !important;
    justify-content: end !important;
}

.custom-header{
    background: transparent;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 2;
}

.custom-header-b{
    border-bottom: 0.5px solid #454948 !important;
    display: none;
}

.custom-header-b-block{
    border-bottom: 0.5px solid transparent !important;
    display: block !important;
}

.d-none-custom{
    display: none !important;
}

.testimonial-above .testimonial-avatar img {
    width: 45px !important;
}

.testimonial-above .testimonial-avatar .testimonial-icon {
    width: 20px !important;
    height: 20px !important;
}

.testimonial-icon .hicon {
    --hicon-size: 67% !important;
}

.error-span{
    margin-left: 5px;
    font-size: 15px;
    color: rgb(200, 33, 33);
}

.not-free{
    text-decoration: line-through !important;
    text-decoration-color: red !important; 
}

.f-1rem{
    font-size: 1rem !important;
}

.swal-button{
    background-color: #416a0d !important;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip {
    position: absolute;
    bottom: 100%; /* Position above the element */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 10;
  }
  
  .tooltip::after {
    content: '';
    position: absolute;
    top: 100%; /* Arrow pointing down */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
  
  .tooltip-container:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
  }
  

@media screen and (max-width: 950px) and (max-height: 721px) {
    .logo-text-lg {
        display: none;
    }
    .custom-home-bg {
        height: 100vh !important; /* Fallback to regular vh for broader support */
        height: 100dvh !important; /* If dvh is supported */
    }
}

@media screen and (max-width: 950px) {
    .logo-text-lg {
        display: none;
    }
    .custom-home-bg {
        height: 100dvh; /* Only this will be applied if max-height is not met */
    }
}
